<div class="heroMainDiv">
  <div>
    <img src="{{ hero.portada.src }}" alt="{{ hero.portada.alt }}" />
  </div>
  <div class="heroDiv">
    <div>
      <h2>Bienvenid@ a la Web de Rick and Morty</h2>
      <h3>Fan page creada por Alfonso Cifuentes</h3>
    </div>
    <div>
      <p>
        En esta página web podrás encontrar toda la información de los
        personajes y localizaciones de Rick and Morty, la serie de animación de
        Adult Swim que ha hecho las delicias de los aficionados a la animación y
        la ciencia ficción. ¡Preparate para visitar universos paralelos, viajar
        en el tiempo, y conocer todo tipo de personajes locos!
      </p>
    </div>
  </div>
</div>
